<?xml version="1.0"?>
<launch>

  <arg name="robot_name" />
  <arg name="init_pose" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_description)/urdf/ur5_right_joint_limited_robot.urdf.xacro'" />

  <node name="spawn_mutliple_robot" pkg="gazebo_ros" type="spawn_model"
    args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
    respawn="false" output="screen" />

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"
    output="screen" />

  <group ns='ur5_right'>
    <param name="tf_prefix" value="ur5_right_tf"/>
    <include file="$(find ur5_gazebo)/launch/ur5_right.launch">
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name" value="ur5_right" />
    </include>
  </group>

</launch>
