<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find ur5_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- Launch file parameters -->
  <arg name="paused"       default="true"/>
  <arg name="debug"        default="false"/>
  <arg name="gui"          default="true"/>
  <arg name="rate"         default="125" />
  <arg name="use_sim_time" default="true" />
  <arg name="world_name"   default="$(find ur5_gazebo)/worlds/ur5_setup.world" />

  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
  </include>

  <include file="$(find ur5_gazebo)/launch/ur5_right_controllers.launch" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_description)/urdf/ur5_left_joint_limited_robot.urdf.xacro'" />

  <!-- <include file="$(find ur5_gazebo)/launch/ur5_robots.launch" /> -->
  <!-- <include file="$(find ur5_gazebo)/launch/ur5_robots.launch" /> -->
  <!-- <include file="$(find ur5_gazebo)/launch/ur5_left.launch" /> -->

  <!-- <node name="main_node" pkg="ur5_gazebo" type="main_bimanual.py" output="screen"></node> -->

</launch>
